@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    ;
}

/* ============ FORMATAÇÃO DE TODA A HEADER ============= */

header {
    background-color: #FFFFFF;
    height: 54px;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top {
    height: 54px;
    width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top img {
    width: 103px;
    height: 29px;
}

.brand {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon {
    font-size: 20px;
}

.barrier {
    width: 1px;
    height: 22px;
    background: #DBDBDB;
}

.search {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.search input {
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    background-color: #fafafa;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    color: #979797;
}

input:focus {
    box-shadow: 0, 0, 0, 0;
    border: 0 none;
    outline: 0;
}

.search input::placeholder {
    display: flex;
    text-align: center;
}

.interaction-icon {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ============= CONTEÚDO ================== */

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 614px;
    height: 800px;
    display: flex;
    margin-top: 88px;
}

.stories-box {
    background-color: #ffffff;
    width: 614px;
    height: 118px;
}

.stories {
    background-color: #FFFFFF;
    width: 614px;
    height: 118px;
    display: flex;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.stories img {
    border: solid 2px #e96849;
    border-radius: 50px;
    padding: 2px;
}

.stories ion-icon {
    position: absolute;
    right: 10px;
    color: #FFFFFF;
    font-size: 30px;
}

.size-img {
    width: 66px;
    height: 66px;
}

p {
    width: 58px;
    height: 19px;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 293px;
    height: 500px;
    background-color: #c97e7e;
    margin-top: -208px;

}

/* ==================== TIMELINE (CONTEÚDO) ============ */

.perfis {
    background-color: #ffffff;
    width: 614px;
    height: 712px;
    margin-top: 24px;
    border: 1px solid #DBDBDB;
   
}


.perfil>img {
    width: 32px;
    height: 32px;
}

.perfil {
    height: 61px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: #262626;
    font-weight: bold;
    font-size: 14px;

}

.perfil>p {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil>div {


    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 460px;
}

.likes {
    background-color: #ffffff;
    height: 44px;
    margin-top: 0;
    display: flex;

    align-items: center;
}

.like {
    width: 200px;

    display: flex;
    justify-content: space-around;
    margin-left: 15px;
}

.f {
  width: 50px;  
  
  margin-left: 450px;
}